<h1>Burgers!</h1>

<h2>Burgers to eat</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{!-- <div>{{id}}. {{burger_name}}</div> --}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    {{!-- <div>{{id}}. {{burger_name}}</div> --}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="toeat" value="0"> To Eat
  </div>

  <button type="submit">Add Burger</button>
</form>
